.welcoming,.presentation{
    width: 100%;
    transition: all 1s;
    display: block;
}
.closed-section{
    opacity: 0;
    height: 0px;
}
.welcoming{
    height: 100%;
    background: white;
    color: black;
    background: url("../../img/Orion_Belt.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}
.welcoming *{
    color: white;
}
.dissapear{
    display: none;
}
.dissapear *{
    display: none;
}
.present-header{
    width: calc(100% - 20px);
    text-align: center;
    font-size: 2.4em;
    font-family: 'Oswald',sans-serif;
    padding: 10px;
    margin-bottom: 30px;
}
.main-speech{
    width: 70%;
    float: left;
    margin-left: 10%;
    font-size: 1.3em;
    font-family: 'Oswald',sans-serif;
}
.maybeTrial{
    width: calc(100% - 20px);
    float: left;
    font-size: 1em;
    font-family: 'Oswald',sans-serif;
    padding: 10px;
}
.trial-header{
    width: 100%;
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 20px;
}
.trial-desc{
    text-align: center;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}
.hyperlinks{
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    display: block;
}
.hyperlinks a{
    text-decoration: none;
}
.link-to{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background: blue;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 20px;
    font-size: 2em;
    font-family: 'Oswald',sans-serif;
    transition: filter 0.4s;
}
button[class="link-to"]:hover{
    filter: brightness(70%);
}