@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url("./home/sections.css");
body{
    margin: 0;
    padding: 0;
}
.no-overflow{
    overflow: hidden;
}
.welcome-container{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    transition: all 1s;
    background: #aaa;
    background: url("https://apod.nasa.gov/apod/image/1910/2019-08-08-JMT19_1521-Pano-Edit_h600.jpg");
    background-size: cover;
}
.welcome-header,.main-header{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    background: transparent;
}

.forTheReplace{
    font-size: 5em;
    margin: 1px;
    transition: all 1s;
    display: inline-block;
    font-family: 'Oswald',sans-serif;
    background: transparent;
}
.exit{
    height: 0px;
    opacity: 0;
}
.blocked{
    display: none;
}
.main-slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px; left: 0px;
    transition: all 1s;
}
.main-header{
    font-size: 4em;
    font-family: 'Oswald',sans-serif;
}
.describe-list{
    width: calc(60% - 20px);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    font-family: 'Oswald',sans-serif;
}
.first-item,.second-item,.final-item{
    width: inherit;
    display: block;
    margin: 5px;
}
.final-item{
    text-align: center;
}