@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    margin: 0;
    padding: 0;
}
.welcome-header{
    width: calc(100% - 20px);
    text-align: center;
    font-size: 3em;
    font-family: 'Oswald',sans-serif;
    padding: 10px;
    margin-bottom: 7px;
}
.setup{
    width: 100%;
    text-align: center;
}
.access-keyInp{
    padding: 7px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid black;
    width: 40%;
}
.content-textarea,.access-keyInp{
    font-family: 'Oswald',sans-serif;
    display: block;
    margin: 5px;
    margin-left: auto;
    margin-right: auto; 
}
.content-textarea{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
    min-width: 60%;
    min-height: 400px;
    font-size: 0.8em;
    margin-top: 14px;
}
.returnSection{
    width: calc(90% - 20px);
    padding: 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    font-family: 'Verdana',sans-serif;
}
.buttons-nav{
    width: 100%;
    text-align: center;
}
.button,.resetBtn,.Enbutton{
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald',sans-serif;
    display: inline-block;
    cursor: pointer;
    transition: filter 0.4s;
    min-width: 100px;
}
.Enbutton{
    display: block;
}
button[class="button"]:hover, button[class="button clip-button"]:hover, 
button[class="resetBtn"]:hover,button[class="Enbutton button"]:hover{
    filter: brightness(70%);
}
button[class="button"]:focus{
    outline: none;
}
.entryptInp,.access-keyInp{
    display: inline-block; 
}
.entryptInp{
    width: 40px;
    height: 40px;
    color: #1999ff;
    position: relative;
    top: 10px;
}
input[type="checkbox"] {
    background-color: #aaa;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.5s;
}
input:checked[type="checkbox"]
{
  background: #aaa;
}
input[type="checkbox"]::before
{
  content: '';
  width: 20px;
  height: 39px;
  background: #111;
  position: absolute;
  border-radius: 5px;
  transition: all 0.5s;
  margin-left: 20px;
}
input:checked[type="checkbox"]::before{
  background: #111;
  margin-left: 0px;
}
.input-describe{
    font-size: 1.7em;
    font-family: 'Oswald' ,sans-serif;
    margin-left: 10px;
}
@media screen and (max-width: 993px){
    .access-keyInp{
        display: block;
    }
    .content-textarea{
        font-size: 1em;
    }
}
@media screen and (max-width: 658px){
    .access-keyInp{
        width: 60%;
    }
    .content-textarea{
        min-width: 70%;
        max-width: 70%;
    }
    .Enbutton{
        width: calc(40% - 20px);
        margin-top: 20px;
        padding: 20px;
    }
}
@media screen and (max-width: 608px){
    .returnSection{
        text-align: center;
    }
    .buttons-nav{
        margin-top: 20px;
    }
}
@media screen and (max-width: 485px){
    .content-textarea{
        min-width: 85%;
        max-width: 85%;
    }
    .Enbutton{
        width: calc(60% - 20px);
    }
    .access-keyInp{
        width: 80%;
    }
    .welcome-header{
        font-size: 2.4em;
    }
    .input-describe{
        font-size: 1.4em;
    }
}
@media screen and (max-width: 421px){
    .returnSection{
        font-size: 1em;
    }
}